<main>
    
    <span id="result"></span>
    <h1 class="name-data"></h1>
    <p>

        <a class="href-id-data call-to-action" href="schedule-weigh-in.html?cid={id}">Schedule a weigh in</a>

    </p>
    <p>Sign up link: 

        <div class="inset-viewer">

            <a class="href-signup-data signup-data" href="" target="_blank"></a>

        </div>

    </p>
    <p>Instructions: (<a class="href-id-data" href="/edit-instructions.html?id={id}">Edit</a>)</p>
    <article class="inset-viewer instructions-data">
        
    </article>
    <p>&nbsp;</p>
    <p>Image: (<a class="href-id-data" href="/edit-image.html?id={id}">Choose a new image</a>)</p>
    <img src="ntd-small.png" class="inset-viewer src-image-data" />
    
</main>
<template id="participant-template">
    
    <tr><td><a class="href-uid-data href-id-data key-data" href="/user-challenge-home.html?cid={id}&uid={uid}" target="_blank"></a></td></tr>
    
</template>
<script>

    /* global attempt, populate, urlParams, challenges, localStorage, location */
    attempt( function() {
        
        var challenge = challenges.find( c => c.id === urlParams.id );
        Array.from( document.querySelectorAll( ".href-id-data" ) ).forEach( function( idLink ) {
            
            idLink.href = idLink.href.replace( "{id}", challenge.id );
            
        } );
        populate( ".signup-data", location.origin + "/sign-up.html?challenge=" + challenge.id );
        populate( ".href-signup-data", function( el ) { el.href = location.origin + "/sign-up.html?challenge=" + challenge.id; } );
        populate( ".name-data", challenge.name );
        document.title = challenge.name;
        populate( ".instructions-data", function( el ) { el.innerHTML = challenge.instructions || "?"; } );
        var imageData = localStorage[ challenge.id + "-image" ];
        if( imageData ) populate( ".src-image-data", function( el ) { el.src = imageData; } );

    } );

</script>