<main>
    
    <h1>Challenge administration</h1>
    <table>
        
        <thead>
        
            <tr>
            
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th>Participants</th>
                <th></th>
                
            </tr>
        
        </thead>
        <tbody>
        
            <tr>
            
                <td>World Radio Day Maintenance Challenge</td>
                <td>Wednesday, December 13th, 2017</td>
                <td>Tuesday, February 13th, 2018</td>
                <td>9 weeks</td>
                <td>64</td>
                <td><a href="/challenge.html?id=1">open</a></td>
                
            </tr>  
            
        </tbody>
        
    </table>
    <p>
        
        <a class="call-to-action" href="new-challenge.html">Create a new challenge</a>
        
    </p>
    
</main>