
<main>
    
    <span id="result"></span>    
    <h1>Create a new challenge</h1>
    <p>
        
        Here you can set up a new challenge and obtain a link to the joining page.
        
    </p>
    <form action="/challenges">
        
        <label>
            
            <span class="label-text">Name</span>
            <input type="text" name="name" required />
            
        </label>
        <label>
            
            <span class="label-text">Start</span>
            <input type="date" name="start" required />
            
        </label>
         <label>
            
            <span class="label-text">Duration</span>
            <input type="text" name="duration" readonly />
            <button type="button" data-add-duration="-7">-1 week</button>
            <button type="button" data-add-duration="-1">-1 day</button>
            <button type="button" data-add-duration="1">+1 day</button>
            <button type="button" data-add-duration="7">+1 week</button>
            
        </label>
        <label>
            
            <span class="label-text">End</span>
            <input type="date" name="end" required />
            
        </label>
        <div class="controls">
            
            <input type="submit" value="Create!" />
            
        </div>
        
    </form>
    
</main>
<script>
            
    ( function() {
    
        /*global ISODate, parseISODate, incrementDateByDays, diffAsISODays, asWeeksOrDays */
        var form = document.querySelector( "form" );
        var start = form[ "start" ];
        var end = form[ "end" ];
        var duration = form[ "duration" ];
        
        form.addEventListener( "keyUp", recalculateDuration );
        form.addEventListener( "click", updateDuration );
        
        start.value = ISODate( new Date() );
        
        function updateDuration( e ) {
            
            var startDate = parseISODate( start.value );
            if ( !startDate ) return;
            var addDuration = parseInt( ( e.target && e.target.dataset && e.target.dataset.addDuration ) || "0", 10 );
            if ( !addDuration ) return;
            var currentDuration = recalculateDuration();
            var newDuration = addDuration + currentDuration;
            newDuration -= newDuration % addDuration;
            newDuration = Math.max( newDuration, 1 );
            var endDate = incrementDateByDays( startDate, newDuration - 1 );
            end.value = ISODate( endDate );
            recalculateDuration();
            
        }
        
        function recalculateDuration() {
        
            duration.value = "";    
            var startDate = parseISODate( start.value );
            var endDate = parseISODate( end.value || start.value );
            endDate.setDate( endDate.getDate() + 1 );
            if ( startDate && endDate ) {
            
                var diff = diffAsISODays( endDate, startDate );
                duration.dataset.days = diff;
                duration.value = asWeeksOrDays( diff );
    
            }
            return parseInt( duration.dataset.days || "0" );
    
        }
        
    } () );
        
</script>