<main>
    
    
    <h1 class="name-data"></h1>
    <span id="result"></span>
    <h3>Schedule a new weigh-in</h3>
     <p class="readable">
        
        When you schedule this weigh-in, an e-mail will <em>immediately</em> be dispatched to each of the participants containing the link they must use to record their weight. 
        <br />
        
    </p>
    <p>
        
        <b>This means you are sending an e-mail to <span class="count-data"></span> participants.</b>
        <br />
        <br />
        
    </p>
    <form id="weigh-in" action="challenge-weigh-ins">
        
        <input type="hidden" name="id" class="value-id-data" />
        <label>
            
            <span class="label-text">Weigh-in date</span>
            <input type="date" name="when" required />
            <button type="button" class="when-calc" data-add="0">Today</button>
            <button type="button" class="when-calc" data-add="1">Tomorrow</button>
            
        </label>
        <label>
            
            <span class="label-text">Deadline (end of)</span>
            <input type="date" name="deadline" required />
            <button data-add="1" type="button" class="deadline-calc">Day after</button>
            <button data-add="2" type="button" class="deadline-calc">Two days after</button>
            
        </label>
        <input type="submit" value="Schedule!" />
        
    </form>
    
</main>
<script>

    /* global attempt, challenges, populate, urlParams, parseISODate, incrementDateByDays, ISODate, moment, entemplate, orDefault */
    attempt( function() {
        
        var challenge = challenges.find( c => c.id === urlParams.cid );
        if ( !challenge ) { throw new Error( "Challenge not found" ); }
       
        populate( ".name-data", challenge.name );
        populate( ".value-id-data", function( ele ) { ele.value = challenge.id; } );
        populate( ".count-data", Object.keys( challenge.participants || {} ).length );
        
        var form = document.querySelector( "#weigh-in" );
        form[ "when" ].addEventListener( "change", function() {
            
            form[ "deadline" ].value = form[ "when" ].value;
            
        } );
        var button;
        for( button of document.querySelectorAll( ".when-calc" ) )
            button.addEventListener( "click", function( e ) {
                
                var add = e.target.dataset.add;
                var when = incrementDateByDays( new Date(), add );
                form[ "when" ].value = ISODate( when );
                
            } );
        for( button of document.querySelectorAll( ".deadline-calc" ) )
            button.addEventListener( "click", function( e ) {
                
                var add = e.target.dataset.add;
                var when = parseISODate( form[ "when" ].value );
                var deadline = incrementDateByDays( when, add );
                form[ "deadline" ].value = ISODate( deadline );
                
            } );
        document.querySelector( "#weigh-in" ).addEventListener( "submit", function( e ) {
            
            var when = parseISODate( form[ "when" ].value );
            var deadline = parseISODate( form[ "deadline" ].value );
            var result = document.querySelector( "#result" );
            if ( deadline < when ) { 
                
                e.preventDefault();
                result.textContent = "Oops! Deadline must be after the weigh-in date";
                
            }
            if ( new Date() > deadline ) { 
                
                e.preventDefault();
                result.textContent = "Oops! Deadline should be a future date";
                
            }
            
        } );
        
    } );
        

</script>