<main class="middle-1100">

    <span id="result"></span>
    <section class="readable">
            
        <p>Challenge data for <span class="title-data">?</span></p>
        <h1 class="name-data"></h1>
        
        <h1>Your progress</h1>
        <canvas id="weighins-chart"></canvas>
        
    </section>
    <template id="challenge">
    
        <li>
            
            <a class="call-to-action name-data href-cid-data href-uid-data" href="user-challenge-home.html?cid={cid}&uid={uid}">open</a>
            <br />
            <span class="start-data"></span> - <span class="end-data"></span>
        
        </li>
    
    </template>
    
</main>
<script>
    
    /* global attempt, populate, urlParams, signups, challenges, incrementDateByDays, parseISODate, renderChart, orDefault */
    attempt( function() {
        
        var uid = urlParams.uid;
        var user = signups[ uid ];
        if ( !user ) { throw new Error( "User not found" ); }
        
        var cid = urlParams.cid;
        var challenge = challenges.find( function( c ) { return c.id == cid; } );
        if ( !challenge ) { throw new Error( "Challenge not found" ); }
        
        populate( ".title-data", [ user.username, user.who ].filter( function( x ) { return !!x; } ).join( " - " ) );
        populate( ".name-data", challenge.name );
        
        var weighins = orDefault( "weighins-" + challenge.id, {} );
        var sortedWhens = Object.keys( weighins ).sort().filter( function( x ) { return !x.startsWith( "_" ); } );
        
        var ctx = document.querySelector( "#weighins-chart" ).getContext( "2d" );
        renderChart( ctx, {
            
            weighins: weighins,
            sortedWhens: sortedWhens,
            uid: uid,
            xmin: incrementDateByDays( parseISODate( challenge.start ), -2 ),
            xmax: incrementDateByDays( parseISODate( challenge.end ), 2 )
        
        } );
        
    } );
    
</script>